body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 150%;
}

h1 {
    color: #66BFBF;
    font-size: 90px;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #4a47a3;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: auto;
}

.contanct-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.image1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.image2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #1F756D;
    background-image: -webkit-linear-gradient(top, #1F756D, #181864);
    background-image: -moz-linear-gradient(top, #1F756D, #181864);
    background-image: -ms-linear-gradient(top, #1F756D, #181864);
    background-image: -o-linear-gradient(top, #1F756D, #181864);
    background-image: -webkit-gradient(to bottom, #1F756D, #181864);
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 24px;
    font-weight: 100;
    padding: 26px;
    -webkit-box-shadow: 3px -12px 21px 1px #67203B;
    -moz-box-shadow: 3px -12px 21px 1px #67203B;
    box-shadow: 3px -12px 21px 1px #67203B;
    text-shadow: 0 0 0 #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_OBJ:hover {
    border: solid #125BC3 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }